.header {
  background-color: #f8d982 !important;
  display: flex;
  border: 1px solid #f8d981;
  .MenuOutlined {
    display: flex;
    font-size: 2rem;
    line-height: 100%;
    vertical-align: middle;
    align-items: center;
  }
  .h1 {
    margin-left: 1rem;
    color: white;
  }
  .font {
    font-size: 2rem;
    margin: auto 2rem;
    cursor: pointer;
  }
  .div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    .button {
      margin: auto 1rem auto auto;
      border-color: black;
        :global(.anticon){
          color: black;
        }
    }
  }
}
